/* components/AnimatedLines.css */

.lines-global-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.line {
  position: absolute;
  top: 0;
  width: 2.5px;
  height: 100px;
  background: linear-gradient(to right, #0d0d0d, #1a1a1a, #262626, #333333, #404040);
  border-radius: 2px;
  mix-blend-mode: screen;
}
