body {
  margin: 0;
  background-color: black;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 2rem 2rem 2rem;
  min-height: 100vh;
  box-sizing: border-box;  /* Ensures padding doesn't affect the overall width */
}

body::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}

html {
  scroll-behavior: smooth; /* Smooth scrolling for anchor links */
}

/* Media Queries for responsiveness */

/* From 100px to 480px (small devices) */
@media (max-width: 480px) {
  body {
    flex-direction: column;
    padding: 0 1rem 1rem 1rem;
  }
}

/* From 481px to 768px (medium devices like tablets) */
@media (min-width: 481px) and (max-width: 768px) {
  body {
    flex-direction: column;
    padding:0 1.5rem 1.5rem 1.5rem;
  }
}

/* From 769px to 1024px (larger tablets and small desktops) */
@media (min-width: 769px) and (max-width: 1024px) {
  body {
    padding:0 2rem 2rem 2rem;
    flex-direction: row;
    justify-content: space-between;
  }
}

/* From 1025px to 1440px (standard desktop sizes) */
@media (min-width: 1025px) and (max-width: 1440px) {
  body {
    padding:0 2rem 2rem;
    flex-direction: row;
    justify-content: space-between;
  }
}

/* From 1441px to 2160px (large screens) */
@media (min-width: 1441px) and (max-width: 2160px) {
  body {
    padding:0 3rem 3rem;
    flex-direction: row;
    justify-content: space-between;
  }
}

/* For extremely large screens (above 2160px) */
@media (min-width: 2161px) {
  body {
    padding:0 4rem 4rem;
    flex-direction: row;
    justify-content: space-between;
  }
}
